<!-- header -->
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-gradient-secondary pt-3">

    <h1>
      <a class="navbar-brand text-white" href="javascript:" routerLink="/">
        <img src="images/logo.png" class="img-fluid" alt="Responsive image"/>traventure
        <span class="text-right">travel any time</span>
      </a>
    </h1>
    <button class="navbar-toggler ml-md-auto" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-lg-auto text-center">
        <li class="nav-item mr-3">
          <a class="nav-link" href="javascript:" routerLink="/">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item  mr-3">
          <a class="nav-link" href="javascript:" routerLink="/about">about</a>
        </li>
        <li class="nav-item dropdown mr-3">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
             aria-haspopup="true"
             aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="javascript:" routerLink="/services">Services</a>
            <a class="dropdown-item" href="javascript:" routerLink="/gallery">Gallery</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="javascript:">Typography</a>
            <a class="dropdown-item" href="javascript:">404</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:" routerLink="/contact">contact</a>
        </li>
        <li>
          <button type="button" class="btn btn-primary ml-lg-5 w3ls-btn" data-toggle="modal" aria-pressed="false"
                  data-target="#exampleModal">
            Login

          </button>
        </li>
      </ul>
    </div>

  </nav>
</header>
<!-- //header -->
<div class="container">
  <!-- banner-text -->

  <!-- fixed social icons -->
  <div id="fixed-social">
    <div>
      <a href="javascript:" class="fixed-facebook mb-2 rounded-right" target="_blank">
        <i class="fab fa-facebook-f"></i>
        <span class="rounded-left">Facebook</span>
      </a>
    </div>
    <div>
      <a href="javascript:" class="fixed-twitter mb-2 rounded-right" target="_blank">
        <i class="fab fa-twitter"></i>
        <span class="rounded-left">Twitter</span>
      </a>
    </div>
    <div>
      <a href="javascript:" class="fixed-gplus mb-2 rounded-right" target="_blank">
        <i class="fab fa-google-plus-g"></i>
        <span class="rounded-left">Google+</span>
      </a>
    </div>
    <div>
      <a href="javascript:" class="fixed-linkedin mb-2 rounded-right" target="_blank">
        <i class="fab fa-linkedin-in"></i>
        <span class="rounded-left">LinkedIn</span>
      </a>
    </div>
    <div>
      <a href="javascript:" class="fixed-pintrest mb-2 rounded-right" target="_blank">
        <i class="fab fa-pinterest-p"></i>
        <span class="rounded-left">Pinterest</span>
      </a>
    </div>
  </div>
  <!-- //fixed social icons -->
</div>
<!-- //container -->
<app-login></app-login>

