<app-join-now></app-join-now>
<footer class="py-sm-5">
  <div class="container">
    <div class="row py-5">
      <!-- footer grid1 -->
      <div class="col-lg-4 text-center">
        <h2>
          <a class="text-white" href="javascript:" routerLink="/">
            <img src="images/logo.png" class="img-fluid" alt="Responsive image"/>traventure
            <span>travel any time</span>
          </a>
        </h2>
        <p class="mt-4">Donec consequat sapien ut leo cursus rhoncus. Nullam dui mi, vulputate ac metus at, semper
          varius orci.
          Nulla accumsan ac elit in congue.</p>
      </div>
      <!-- //footer gri12 -->
      <!-- footer grid2 -->
      <div class="col-lg-4  footv3-left text-center my-lg-0 my-5">
        <h3 class="mb-3">Get In Touch</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>

        <div class="fv3-contact mt-3">
          <address>
            <span class="fas fa-home mr-2"></span>
            <p>90 Street, City, State 34789.</p>
          </address>
        </div>
        <div class="fv3-contact my-3">
          <span class="fas fa-phone-volume mr-2"></span>
          <p>+456 123 7890</p>
        </div>
        <div class="fv3-contact">
          <span class="fas fa-envelope-open mr-2"></span>
          <p>
            <a href="javascript:">info@example.com</a>
          </p>
        </div>
      </div>
      <!-- //footer grid2 -->
      <!-- footer grid3 -->
      <div class="col-lg-4  footv3-left text-center">
        <h3 class="mb-3">Navigation</h3>
        <ul class="list-agileits">
          <li>
            <a href="javascript:" routerLink="/">
              Home
            </a>
          </li>
          <li class="my-3">
            <a href="javascript:" routerLink="/about">
              About Us
            </a>
          </li>
          <li class="mb-3">
            <a href="javascript:" routerLink="/services">
              Services
            </a>
          </li>
          <li>
            <a href="javascript:" routerLink="/contact">
              Contact Us
            </a>
          </li>
        </ul>
      </div>
      <!-- //footer grid3 -->
    </div>
    <!-- //footer row -->
    <div class="cpy-right text-center pb-sm-0 pb-5">
      <p>© 2019 Traventure. All rights reserved | Design by
        <a href="http://savainfosystems.com/">savainfosystems4@gmail.com</a>
      </p>
    </div>
  </div>
  <!-- //footer container -->
</footer>

