<div class="inner-banner" id="home">
</div>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="javascript:" routerLink="/">Home</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
  </ol>
</nav>
<!-- //breadcrumbs -->
<!-- contact -->
<section class="wthree-row py-sm-5 py-3 w3-contact">
  <div class="container py-md-5 py-3">
    <!-- section title -->
    <div class="row pt-lg-5">
      <div class="col-lg-5">
        <h3 class="agile-title">Contact Us</h3>
        <span class="w3-line"></span>
      </div>
      <div class="col-lg-7 mt-lg-0 mt-3">
        <p>Donec consequat sapien ut leo cursus rhoncus. Nullam dui mi, vulputate ac metus at, semper varius orci.
          Nulla accumsan ac elit in congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
          per inceptos himenaeos.</p>
      </div>
    </div>
    <!-- //section title -->
    <div class="row contact-form py-5">
      <div class="col-lg-8 wthree-form-left">
        <!-- contact form grid -->
        <div class="contact-top1 px-3 py-5">
          <h5 class="text-white mb-4">send us a note</h5>
          <form action="#" method="get" class="f-color">
            <div class="form-group">
              <label for="username">Name</label>
              <input type="text" class="form-control" id="username" required>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" required>
            </div>
            <div class="form-group">
              <label for="comment">Your Message</label>
              <textarea class="form-control" rows="5" id="comment" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
          </form>
        </div>
        <!--  //contact form grid ends here -->
      </div>
      <!-- contact map grid -->
      <div class="col-lg-4 map contact-right d-flex  justify-content-center">
        <div class="align-self-center py-4">
          <h5 class="mb-4 text-right">get directions</h5>
          <iframe class="p-2" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3023.9503398796587!2d-73.9940307!3d40.719109700000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a27e2f24131%3A0x64ffc98d24069f02!2sCANADA!5e0!3m2!1sen!2sin!4v1441710758555"
                  allowfullscreen></iframe>
        </div>
      </div>
      <!--//contact map grid ends here-->
    </div>
    <!-- contact details -->
    <div class="contact-bottom d-flex justify-content-center">
      <div class="row">
        <!-- contact details grid1-->
        <div class="fv3-contact  col-md-4  align-self-center">
          <h5 class="pb-3">Address</h5>
          <address>
            <p class="c-txt">90 Street, City, State 34789.</p>
            <p class="c-txt">76 Street, City, State 34789.</p>
          </address>
        </div>
        <!-- contact details grid2-->
        <div class="address address-mdl col-md-4 text-md-center">
          <h5 class="pb-3">phone</h5>
          <p>
            +1 234 5678</p>
          <p>
            +11 222 333</p>
        </div>
        <!-- contact details grid3 -->
        <div class="address col-md-4 text-md-right mt-md-0 mt-3">
          <h5 class="pb-3">Email</h5>
          <p>
            <a href="mailto:info@example.com">mail@traventure.com</a>
          </p>
          <p>
            <a href="mailto:info@example.com">mail@travel.com</a>
          </p>
        </div>
      </div>
      <!-- //contact details row ends here -->
    </div>
  </div>
  <!-- //contact details container -->
</section>
<!-- //contact -->
<!-- slide -->
