<div class="inner-banner" id="home">
</div>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="javascript:" routerLink="/">Home</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Gallery</li>
  </ol>
</nav>
<!-- //breadcrumbs -->
<!--gallery  -->
<section class="wthree-row w3-gallery py-sm-5 py-3">
  <div class="container py-md-5 py-3">
    <div class="row py-lg-5">
      <div class="col-lg-5">
        <h3 class="agile-title">online travel magazine</h3>
        <span class="w3-line"></span>
      </div>
      <div class="col-lg-7 mt-lg-0 mt-3">
        <p>Donec consequat sapien ut leo cursus rhoncus. Nullam dui mi, vulputate ac metus at, semper varius orci.
          Nulla accumsan ac elit in congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
          per inceptos himenaeos.</p>
      </div>
    </div>
    <ul class="portfolio-categ filter pt-5 mb-5 text-center">
      <li class="port-filter all active">
        <a href="javascript:">All</a>
      </li>
      <li class="cat-item-1">
        <a href="javascript:" title="Category 1">weekend break</a>
      </li>
      <li class="cat-item-2">
        <a href="javascript:" title="Category 2">group tour</a>
      </li>
      <li class="cat-item-3">
        <a href="javascript:" title="Category 3">road trip</a>
      </li>
      <li class="cat-item-4">
        <a href="javascript:" title="Category 4">package</a>
      </li>
      <li class="cat-item-5">
        <a href="javascript:" title="Category 4">picnic</a>
      </li>
    </ul>
    <ul class="portfolio-area clearfix">
      <li class="portfolio-item2" data-id="id-0" data-type="cat-item-4">
        <div>
                        <span class="image-block img-hover">
                            <a class="image-zoom" href="images/g8.jpg" data-gal="prettyPhoto[gallery]">
                                    <img src="images/g8.jpg" class="img-fluid w3layouts agileits" alt="Traventure">
                            </a>
                        </span>
        </div>
      </li>
      <li class="portfolio-item2" data-id="id-1" data-type="cat-item-2">
        <div>
                        <span class="image-block">
                            <a class="image-zoom" href="images/g2.jpg" data-gal="prettyPhoto[gallery]">
                                    <img src="images/g2.jpg" class="img-fluid w3layouts agileits" alt="Traventure">
                            </a>
                        </span>
        </div>
      </li>
      <li class="portfolio-item2" data-id="id-2" data-type="cat-item-1">
                    <span class="image-block">
                        <a class="image-zoom" href="images/g3.jpg" data-gal="prettyPhoto[gallery]">
                            <img src="images/g3.jpg" class="img-fluid w3layouts agileits" alt="Traventure">
                        </a>
                    </span>
      </li>
      <li class="portfolio-item2" data-id="id-3" data-type="cat-item-4">
                    <span class="image-block">
                        <a class="image-zoom" href="images/g4.jpg" data-gal="prettyPhoto[gallery]">
                            <img src="images/g4.jpg" class="img-fluid w3layouts agileits" alt="Traventure">
                        </a>
                    </span>
      </li>
      <li class="portfolio-item2" data-id="id-4" data-type="cat-item-3">
                    <span class="image-block">
                        <a class="image-zoom" href="images/g5.jpg" data-gal="prettyPhoto[gallery]">
                            <img src="images/g5.jpg" class="img-fluid w3layouts agileits" alt="Traventure">
                        </a>
                    </span>
      </li>
      <li class="portfolio-item2" data-id="id-5" data-type="cat-item-2">
                    <span class="image-block">
                        <a class="image-zoom" href="images/g6.jpg" data-gal="prettyPhoto[gallery]">
                            <img src="images/g6.jpg" class="img-fluid w3layouts agileits" alt="Traventure">
                        </a>
                    </span>
      </li>
      <li class="portfolio-item2" data-id="id-6" data-type="cat-item-1">
                    <span class="image-block">
                        <a class="image-zoom" href="images/g7.jpg" data-gal="prettyPhoto[gallery]">
                            <img src="images/g7.jpg" class="img-fluid w3layouts agileits" alt="Traventure">
                        </a>
                    </span>
      </li>
      <li class="portfolio-item2" data-id="id-7" data-type="cat-item-1">
                    <span class="image-block">
                        <a class="image-zoom" href="images/g8.jpg" data-gal="prettyPhoto[gallery]">
                            <img src="images/g8.jpg" class="img-fluid w3layouts agileits" alt="Traventure">
                        </a>
                    </span>
      </li>
      <li class="portfolio-item2" data-id="id-9" data-type="cat-item-5">
                    <span class="image-block">
                        <a class="image-zoom" href="images/g5.jpg" data-gal="prettyPhoto[gallery]">
                            <img src="images/g5.jpg" class="img-fluid w3layouts agileits" alt="Traventure">
                        </a>
                    </span>
      </li>
      <li class="portfolio-item2" data-id="id-9" data-type="cat-item-5">
                    <span class="image-block">
                        <a class="image-zoom" href="images/g8.jpg" data-gal="prettyPhoto[gallery]">
                            <img src="images/g8.jpg" class="img-fluid w3layouts agileits" alt="Traventure">
                        </a>
                    </span>
      </li>
      <li class="portfolio-item2" data-id="id-10" data-type="cat-item-5">
                    <span class="image-block">
                        <a class="image-zoom" href="images/g4.jpg" data-gal="prettyPhoto[gallery]">
                            <img src="images/g4.jpg" class="img-fluid w3layouts agileits" alt="Traventure">
                        </a>
                    </span>
      </li>
      <li class="portfolio-item2" data-id="id-8" data-type="cat-item-1">
                    <span class="image-block">
                        <a class="image-zoom" href="images/g6.jpg" data-gal="prettyPhoto[gallery]">
                            <img src="images/g6.jpg" class="img-fluid w3layouts agileits" alt="Traventure">
                        </a>
                    </span>
      </li>
    </ul>
    <!--end portfolio-area -->
  </div>
  <!-- //gallery container -->
</section>
<!-- //gallery -->
<!-- slide -->
