<section class="slide-main">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 slide"></div>
      <div class="col-md-6 slide-right d-flex">
        <div class="align-self-center px-lg-5 px-md-3 py-5 px-3">
          <h5>you will never miss a great deal if you join our mailing list!</h5>
          <button type="button" class="btn btn-light mt-3 btn-lg" data-toggle="modal" aria-pressed="false"
                  data-target="#exampleModal2">
            Join Now!
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<app-subscribe></app-subscribe>
