<div class="inner-banner" id="home">
</div>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="javascript:" routerLink="/">Home</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Services</li>
  </ol>
</nav>
<!-- //breadcrumbs -->
<!-- services -->
<section class="wthree-row py-sm-5 py-3">
  <div class="container py-md-5 py-3">
    <div class="row py-lg-5 bg-pricemain">
      <div class="col-lg-5">
        <h3 class="agile-title">travel specials</h3>
        <span class="w3-line"></span>
      </div>
      <div class="col-lg-7 mt-lg-0 mt-3">
        <p> Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.Donec consequat
          sapien ut leo cursus rhoncus. Nullam dui mi, vulputate ac metus at, semper varius orci.</p>
      </div>
    </div>
    <div class="row py-5 d-flex justify-content-center">
      <div class="card col-lg-3 col-md-6 border-0">
        <img class="card-img-top" src="images/s1.jpg" alt="Card image cap">
        <div class="card-body bg-light">
          <h5 class="card-title">destinations</h5>
          <p class="card-text mb-3">Class aptent taciti sociosqu ad litora torquent per conubia nostra per inceptos himenaeos.</p>
          <a href="javascript:" class="btn btn-primary scroll">View More</a>
        </div>
      </div>
      <div class="card col-lg-3 col-md-6 border-0 mt-md-0 mt-5">
        <img class="card-img-top" src="images/s5.jpg" alt="Card image cap">
        <div class="card-body bg-light">
          <h5 class="card-title">the resort</h5>
          <p class="card-text mb-3">Class aptent taciti sociosqu ad litora torquent per conubia nostra per inceptos himenaeos.</p>
          <a href="javascript:" class="btn btn-primary">View More</a>
        </div>
      </div>
      <div class="card col-lg-3 col-md-6 border-0 mt-lg-0 mt-5">
        <img class="card-img-top" src="images/s6.jpg" alt="Card image cap">
        <div class="card-body bg-light">
          <h5 class="card-title">our rooms</h5>
          <p class="card-text mb-3">Class aptent taciti sociosqu ad litora torquent per conubia nostra per inceptos himenaeos.</p>
          <a href="javascript:" class="btn btn-primary scroll">View More</a>
        </div>
      </div>
      <div class="card col-lg-3 col-md-6 border-0 mt-lg-0 mt-5">
        <img class="card-img-top" src="images/s4.jpg" alt="Card image cap">
        <div class="card-body bg-light">
          <h5 class="card-title">wanderlust</h5>
          <p class="card-text mb-3">Class aptent taciti sociosqu ad litora torquent per conubia nostra per inceptos himenaeos.</p>
          <a href="javascript:" class="btn btn-primary">View More</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- //services -->
<!-- slide -->
<section class="slide-sub pt-sm-5 py-5">
  <div class="container-fluid">
    <h5 class="text-center pt-3">find the best deals on accomodation</h5>
    <div class="d-flex justify-content-center pt-5">
      <form action="#" method="post" class="form-inline">
        <div class="form-group">
          <label>
            <i class="fas fa-map-marker mr-2"></i>find hotels in</label>
          <select class="form-control ml-2" required>
            <option selected value="">sociosqu ad conubia</option>
            <option value="1">perciosq conubia</option>
            <option value="2">him conubia enaeos</option>
            <option value="3">sociosqu ad</option>
            <option value="4">Class aptent</option>
          </select>
        </div>
        <div class="form-group m-md-4 m-sm-2 my-4">
          <label class="mr-2">Check In</label>
          <input id="datepicker1" name="check in" type="text" value="mm/dd/yyyy" class="form-control" required>
        </div>
        <div class="form-group mx-md-0 my-sm-4">
          <label class="mr-2">Check Out</label>
          <input id="datepicker2" name="check out" type="text" value="mm/dd/yyyy" class="form-control" required>
        </div>
        <button class="btn btn-md btn btn-dark ml-4 check-btn" type="submit">Find Now</button>
      </form>
    </div>
  </div>
</section>
<!-- //slide -->
<!-- pricing -->
<section class="wthree-row py-5" id="pricing">
  <div class="container py-md-5 py-3">
    <div class="row py-lg-5 bg-pricemain">
      <div class="col-lg-5">
        <h3 class="agile-title">travel pricing</h3>
        <span class="w3-line"></span>
      </div>
      <div class="col-lg-7 mt-lg-0 mt-3">
        <p>Donec consequat sapien ut leo cursus rhoncus. Nullam dui mi, vulputate ac metus at, semper varius orci.
          Nulla accumsan ac elit in congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
          per inceptos himenaeos.</p>
      </div>
    </div>
    <div class="row pb-5">
      <div class="col-lg-4 col-md-4 text-center mt-md-5 pb-0 pt-3 px-3 agile-pricegrid">
        <div class="bg-price py-3 rounded-top text-center">
          <h4 class="pb-2">Basic</h4>
          <span class="mx-auto"></span>
        </div>
        <div class="border p-3 bg-light">
          <h5 class="pt-2">
            <sup>$</sup>50</h5>
          <span>per month</span>
        </div>
        <ul class="list-group">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        <div class="border border-top-0 py-3 px-2">
          <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" aria-pressed="false" data-target="#exampleModal">Get Started</button>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 text-center p-3  my-5 border agile-price agile-pricegrid">
        <div class="bg-price py-3 rounded-top text-center">
          <h4 class="pb-2">Advanced</h4>
          <span class="mx-auto "></span>
        </div>
        <div class="border p-3 bg-light">
          <h5 class="pt-2">
            <sup>$</sup>70</h5>
          <span>per month</span>
        </div>
        <ul class="list-group">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
        </ul>
        <div class="border border-top-0 py-3 px-2">
          <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" aria-pressed="false" data-target="#exampleModal">Get Started</button>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 text-center mt-md-5 pb-0 pt-3 px-3 agile-pricegrid">
        <div class="bg-price py-3 rounded-top text-center">
          <h4 class="pb-2">Pro</h4>
          <span class="mx-auto"></span>
        </div>
        <div class="border p-3 bg-light">
          <h5 class="pt-2">
            <sup>$</sup>90</h5>
          <span>per month</span>
        </div>
        <ul class="list-group">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        <div class="border border-top-0 py-3 px-2">
          <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" aria-pressed="false" data-target="#exampleModal">Get Started</button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- pricing -->
<!-- slide -->
