<div class="banner" id="home">
  <div class="container">
  <div class="banner-text">
    <div class="callbacks_container">
      <ul class="rslides" id="slider3">
        <li>
          <div class="slider-info">
            <h3>Discover the places you've never been before</h3>
            <a class="btn btn-primary mt-3" href="javascript:" role="button">Find Tour</a>
          </div>
        </li>
        <li>
          <div class="slider-info">
            <h3>Flexible Network for travellers</h3>
            <a class="btn btn-primary mt-3" href="javascript:" role="button">Find Tour</a>
          </div>
        </li>
        <li>
          <div class="slider-info">
            <h3>We provide High quality and Affordable service </h3>
            <a class="btn btn-primary mt-3" href="javascript:" role="button">Find Tour</a>
          </div>
        </li>
      </ul>
    </div>
  </div></div>
</div>



<!-- //subscribe form -->
<!-- login and register modal -->


<!-- //login and register modal -->
<!-- about  -->
<app-traventure></app-traventure>
<!-- //team -->
<!-- slide -->

