<section class="wthree-row py-sm-5 py-3 w3-about">
  <div class="container py-md-5 py-3">
    <div class="row pt-lg-5">
      <div class="col-lg-5">
        <h3 class="agile-title">welcome to traventure</h3>
        <span class="w3-line"></span>
      </div>
      <div class="col-lg-7 mt-lg-0 mt-3">
        <p>Donec consequat sapien ut leo cursus rhoncus. Nullam dui mi, vulputate ac metus at, semper varius orci.
          Nulla accumsan ac elit in congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
          per inceptos himenaeos.</p>
      </div>
    </div>
    <div class="agileabt-w3 py-lg-5">
      <div class="row my-md-5 mt-sm-5 my-4 text-center">
        <div class="col-lg-3 col-md-6 w3-ab">
          <div class="w3-ab-grid">
            <div class="w3-aicon py-lg-5 py-md-3 py-5">
              <i class="fas fa-bed py-md-3"></i>
              <h4 class="my-3">hotel booking</h4>
            </div>
            <div class="w3-ab-captn p-md-3 py-4">
              <i class="fas fa-beddd"></i>
              <h4 class="my-lg-3 my-md-2 my-3">traventure</h4>
              <p class="px-3">Aenean pulvinar ac enimet posuere tincidunt velit Utin tincidunt</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 w3-ab my-md-0  my-sm-5 my-4">
          <div class="w3-ab-grid">
            <div class="w3-aicon py-lg-5 py-md-3 py-5">
              <i class="fab fa-slideshare py-md-3"></i>
              <h4 class="my-3">amazing tour</h4>
            </div>
            <div class="w3-ab-captn p-md-3 py-4">
              <i class="fab fa-slideshare"></i>
              <h4 class="my-lg-3 my-md-2 my-3">traventure</h4>
              <p class="px-3">Aenean pulvinar ac enimet posuere tincidunt velit Utin tincidunt</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 m-lg-0 mt-md-5 w3-ab">
          <div class="w3-ab-grid">
            <div class="w3-aicon  py-lg-5 py-md-3 py-5">
              <i class="fas fa-ticket-alt py-md-3"></i>
              <h4 class="my-3">ticket booking</h4>
            </div>
            <div class="w3-ab-captn p-md-3 py-4">
              <i class="fas fa-ticket-alt"></i>
              <h4 class="my-lg-3 my-md-2 my-3">traventure</h4>
              <p class="px-3">Aenean pulvinar ac enimet posuere tincidunt velit Utin tincidunt</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 m-lg-0 mt-md-5 mt-sm-5 mt-4 w3-ab">
          <div class="w3-ab-grid">
            <div class="w3-aicon py-lg-5 py-md-3 py-5">
              <i class="fas fa-globe py-md-3"></i>
              <h4 class="my-3">discover</h4>
            </div>
            <div class="w3-ab-captn p-md-3 py-4">
              <i class="fas fa-globe"></i>
              <h4 class="my-lg-3 my-md-2 my-3">traventure</h4>
              <p class="px-3">Aenean pulvinar ac enimet posuere tincidunt velit Utin tincidunt</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-lg-3 col-md-6 w3-ab">
          <div class="w3-ab-grid">
            <div class="w3-aicon py-lg-5 py-md-3 py-5">
              <i class="fas fa-bus py-md-3"></i>
              <h4 class="my-3">bus</h4>
            </div>
            <div class="w3-ab-captn p-md-3 py-4">
              <i class="fas fa-bus"></i>
              <h4 class="my-lg-3 my-md-2 my-3">traventure</h4>
              <p class="px-3">Aenean pulvinar ac enimet posuere tincidunt velit Utin tincidunt</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 w3-ab m-lg-0 m-md-0 my-4">
          <div class="w3-ab-grid">
            <div class="w3-aicon py-lg-5 py-md-3 py-5">
              <i class="fas fa-plane py-md-3"></i>
              <h4 class="my-3">plane</h4>
            </div>
            <div class="w3-ab-captn p-md-3 py-4">
              <i class="fas fa-plane"></i>
              <h4 class="my-lg-3 my-md-2 my-3">traventure</h4>
              <p class="px-3">Aenean pulvinar ac enimet posuere tincidunt velit Utin tincidunt</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 m-lg-0 mt-md-5 w3-ab">
          <div class="w3-ab-grid">
            <div class="w3-aicon py-lg-5 py-md-3 py-5">
              <i class="fas fa-train py-md-3"></i>
              <h4 class="my-3">train</h4>
            </div>
            <div class="w3-ab-captn p-md-3 py-4">
              <i class="fas fa-train"></i>
              <h4 class="my-lg-3 my-md-2 my-3">traventure</h4>
              <p class="px-3">Aenean pulvinar ac enimet posuere tincidunt velit Utin tincidunt</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 m-lg-0 mt-md-5 mt-sm-5 mt-4 w3-ab">
          <div class="w3-ab-grid">
            <div class="w3-aicon py-lg-5 py-md-3 py-5">
              <i class="fas fa-ship py-md-3"></i>
              <h4 class="my-3">cruise</h4>
            </div>
            <div class="w3-ab-captn p-md-3 py-4">
              <i class="fas fa-ship"></i>
              <h4 class="my-lg-3 my-md-2 my-3">traventure</h4>
              <p class="px-3">Aenean pulvinar ac enimet posuere tincidunt velit Utin tincidunt</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- //about -->
<!-- team -->
<section class="wthree-row py-sm-5 py-3">
  <div class="container py-5">
    <div class="row py-lg-5">
      <div class="col-lg-5">
        <h3 class="agile-title">our team</h3>
        <span class="w3-line"></span>
      </div>
      <div class="col-lg-7 mt-lg-0 mt-3">
        <p>Donec consequat sapien ut leo cursus rhoncus. Nullam dui mi, vulputate ac metus at, semper varius orci.
          Nulla accumsan ac elit in congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
          per inceptos himenaeos.</p>
      </div>
    </div>
    <!-- team row 1 -->
    <div class="row pt-5">
      <!-- about team -->
      <!-- text -->
      <div class="col-lg-2 col-md-4 col-sm-6 col-6 w3l-thead d-flex justify-content-center">
        <h3 class="align-self-center text-white">Strong</h3>
      </div>
      <!-- grid2 -->
      <div class="col-lg-2 col-md-4 col-sm-6 col-6 agileinfo-team-grid p-0">
        <img src="images/t2.jpg" alt="">
        <div class="captn">
          <h4>Peter</h4>
          <div class="w3l-social">
            <ul>
              <li>
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-rss"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- //grid 2 -->
      <!-- //about team-->
      <!-- grid1 -->
      <div class="col-lg-2 col-md-4 col-sm-6 col-6 agileinfo-team-grid p-0">
        <img src="images/t1.jpg" alt="">
        <div class="captn">
          <h4>Mary</h4>
          <div class="w3l-social">
            <ul>
              <li>
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-rss"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- //grid1 -->
      <!-- image -->
      <div class="col-lg-2 col-md-4 col-sm-6 col-6 d-flex">
        <img src="images/p1.png" class="img-fluid align-self-center" alt="">
      </div>
      <!-- grid 3 -->
      <div class="col-lg-2 col-md-4 col-sm-6 col-6 agileinfo-team-grid p-0">
        <img src="images/t3.jpg" alt="">
        <div class="captn">
          <h4>Johan</h4>
          <div class="w3l-social">
            <ul>
              <li>
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-rss"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- //grid 3 -->
      <!-- grid 4 -->
      <div class="col-lg-2 col-md-4 col-sm-6 col-6 agileinfo-team-grid p-0">
        <img src="images/t4.jpg" alt="">
        <div class="captn">
          <h4>Steven</h4>
          <div class="w3l-social">
            <ul>
              <li>
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-rss"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- // grid 4 -->
    </div>
    <!-- team row 2 -->
    <div class="row">
      <!-- image -->
      <div class="col-lg-2 col-md-4 col-sm-6 col-6 d-flex">
        <img src="images/p2.png" class="img-fluid align-self-center" alt="">
      </div>
      <!-- grid 5 -->
      <div class="col-lg-2 col-md-4 col-sm-6 col-6 agileinfo-team-grid p-0">
        <img src="images/t5.jpg" alt="">
        <div class="captn">
          <h4>Wilson</h4>
          <div class="w3l-social">
            <ul>
              <li>
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-rss"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- //grid 5 -->
      <!-- grid 8 -->
      <div class="col-lg-2 col-md-4 col-sm-6 col-6 agileinfo-team-grid p-0">
        <img src="images/t8.jpg" alt="">
        <div class="captn">
          <h4>Meter</h4>
          <div class="w3l-social">
            <ul>
              <li>
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-rss"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- //grid 8 -->
      <!-- about team -->

      <!-- team text -->
      <div class="col-lg-2 col-md-4 col-sm-6 col-6 w3l-thead d-flex justify-content-center wt1">
        <h3 class="align-self-center text-white">Professional</h3>
      </div>
      <!-- //about team -->

      <!-- grid 6 -->
      <div class="col-lg-2 col-md-4 col-sm-6 col-6 agileinfo-team-grid p-0">
        <img src="images/t6.jpg" alt="">
        <div class="captn">
          <h4>Jane</h4>
          <div class="w3l-social">
            <ul>
              <li>
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-rss"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- //grid 6 -->
      <!--  grid 7 -->
      <div class="col-lg-2 col-md-4 col-sm-6 col-6 agileinfo-team-grid p-0">
        <img src="images/t7.jpg" alt="">
        <div class="captn">
          <h4>Jorey</h4>
          <div class="w3l-social">
            <ul>
              <li>
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-rss"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- // grid 7 -->
    </div>
    <!-- //team row 2 -->
    <!-- team row 3 -->
    <div class="row p-md-0 pb-sm-3">
      <!-- grid 9 -->
      <div class="col-lg-2 col-md-4 col-sm-6 col-6 agileinfo-team-grid p-0">
        <img src="images/t9.jpg" alt="">
        <div class="captn">
          <h4>Kmter</h4>
          <div class="w3l-social">
            <ul>
              <li>
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-rss"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- //grid 9 -->
      <!-- grid 10 -->
      <div class="col-lg-2 col-md-4 col-sm-6 col-6 agileinfo-team-grid p-0">
        <img src="images/t10.jpg" alt="">
        <div class="captn">
          <h4>Serte</h4>
          <div class="w3l-social">
            <ul>
              <li>
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-rss"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- //grid 10 -->
      <!-- about team -->
      <!-- image -->
      <div class="col-lg-2 col-md-4 col-sm-6 col-6 d-flex">
        <img src="images/p3.png" class="img-fluid align-self-center" alt="">
      </div>
      <!-- /about team -->
      <!-- grid 11 -->
      <div class="col-lg-2 col-md-4 col-sm-6 col-6 agileinfo-team-grid p-0">
        <img src="images/t11.jpg" alt="">
        <div class="captn">
          <h4>Gkern</h4>
          <div class="w3l-social">
            <ul>
              <li>
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-rss"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- // grid 11 -->
      <!-- grid 12 -->
      <div class="col-lg-2 col-md-4 col-sm-6 col-6 agileinfo-team-grid p-0">
        <img src="images/t12.jpg" alt="">
        <div class="captn">
          <h4>Quter</h4>
          <div class="w3l-social">
            <ul>
              <li>
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-rss"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- //grid 12 -->
      <!-- team text -->
      <div class="col-lg-2 col-md-4 col-sm-6 col-6 w3l-thead d-flex justify-content-center">
        <h3 class="align-self-center text-white">Creative</h3>
      </div>
    </div>
    <!-- //team row 3 -->
  </div>
</section>
<!-- //team -->
